@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #eeeeee;
}
input{
    width: 80%;
    height: 4vh;
    padding: 10px;
    font-size: 2rem;
    display: flex;
    border-radius: 20px;
    border: 4px solid #222831;
    transition: 0.5s;
}
input:hover {
    background: #bbbbbb;
    transition: 0.5s;
}
label {
    width: 80%;
    height: 6vh;
    padding: 15px;
    font-size: 2rem;
    display: flex;
    color: #e7eaf6;
    position: relative;
    top: 3vh;
    text-shadow: 3px 3px 1px #222831;
}
.card {
    width: 25%;
    height: 60vh;
    padding: 10vh;
    background: #393e46;
    border-radius: 50px;
    display: flex;
    align-items: center;

}
button {
    display: block;
    margin-top: 5vh;
    width: 50%;
    height: 4vh;
    border-radius: 50px;
    border: 4px solid #222831;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    background-color: #222831;
    color: white;
    transition: 0.5s;
}
footer {
    position: absolute;
    bottom: 5px;
    transition: 0.25s;
    font-size: 20px;
}
footer:hover {
    font-size: 25px;
    opacity: .7;
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: #222831;
    
}
header {
    display: flex;
    height: 5vh;
    width: 100%;
}
header h1 {
    font-size: 30px;
    transition: 0.5s;
    position: absolute;
    left: 1vh;
    top: 1vh;
}   
header h1:hover {
    font-size: 40px;
    transition: 0.5s;

}
header img {
    width: 40px;
    position: absolute;
    right: 1vh;
    top: 1vh;
}